@{
    ViewData["Title"] = "Editar productos";
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se editan los productos</p>
<button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Producto")'">

    <i class="fas fa-arrow-left"></i>
</button>